@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Libre+Baskerville:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background: url(../dist/images/126e6076f74170b1879b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    backdrop-filter: blur(3.5px);
    background-attachment: fixed;
    overflow-x: hidden;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: #023047;
    box-shadow: 0 2px 5px rgba(0, 0 , 0, 0.5);
    padding: 0 100px;
}

nav ul {
    display: flex;
    align-items: center;
    color: rgb(234, 227, 227);
    list-style: none;
    gap: 100px;
}

nav ul li {
    position: relative;
    font-size: 28px;
    cursor: pointer;
}

nav ul li::after {
    display: block;
    position: absolute;
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    transition: all 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.logo {
    font-family: 'Braah One', sans-serif;
    color:rgb(234, 227, 227);
    font-size: 30px;
    cursor: pointer;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .heading {
    font-size: 70px;
    text-align: center;
    padding: 150px 0;
    font-family: 'Libre Baskerville', serif;
    color: #02283c;
    font-weight: 700;
}

.home .main {
    position: relative;
    width: 60%;
    height: 300px;
}

.home .img {
    top: -200;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.home .description {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 22px;
    font-family: 'Libre Baskerville', serif;
    padding: 50px 30px;
}


.menu .title {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 4rem;
    padding: 30px 0;
    font-weight: 700;
}

.menu .options {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}

.menu .option {
    background: #fff;
    border: 1px solid #000;
    padding: 5px 20px;
    cursor: pointer;
}

.menu-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-template-rows: repeat(auto-fit, 500px);
    gap: 35px;
    padding: 100px 0 100px;
}

.menu-grid .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding: 20px 0;
    background: #fff;
    transform: scale(1);
    transition: all ease-in-out 0.3s;
}

.menu-grid .item:hover {
    transform: scale(1.1);
}

.menu-grid .item img {
    width: 85%;
    height: 65%;
}

.menu-grid .item .item-description, .menu-grid .item .item-price {
    /* background: blue; */
    margin-top: 30px;
    padding: 10px 30px 0;
    font-size: 23px;
    font-family: 'Libre Baskerville', serif;
}

.menu-grid .item .item-price {
    font-weight: 700;
}